html {
    font-family: sans-serif;
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }

h1 {
	color: red;
	font-weight: 700;
	font-size: 35px;
}

h3 {
	color: blue;
	font-weight: 700;
	font-size: 30px;
}
